{% extends "base.html" %}
{% block title %} 歡迎光臨 {% endblock %}
{% block headmessage %}  {% endblock %}

{% block content %}
<style type="text/css">
    .aa{background-color: white;}
    /* .bb{background-color: rgb(128, 153, 206);} */
    .qq{background-color: rgb(90, 202, 140);}
    .qw{background-color: rgb(102, 214, 214);}

    .carousel .carousel-item {
          height: 600px;
    }


</style>

<div class="container">
<div class="row justify-content-center">
  <div class="col-12 bb">
    <div>
        <p class="date" style="font-family:新細明體; font-size:38px"><strong>電 話 號 碼 0 9 3 5 2 8 2 3 6 0</strong></p>
        <p class="date" style="font-family:新細明體; font-size:38px"><strong>公司 : 和順汽車</strong></p>
        <p class="date" style="font-family:新細明體; font-size:38px"><strong>聯絡人 : 江天壽</strong></p>
        <p class="date" style="font-family:新細明體; font-size:38px"><strong>地址 : 基隆市暖暖區源遠路163號 </strong></p>


      </div>
  </div>

</div>
</div>
{% endblock %}

